.login-heading {
  font-size: 120px;
  font-weight: bold;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 30px;
  margin: 0 auto;
}

.registration-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  padding-top: 30px;
  margin: 0 auto;
}